#MuiGridListTile-root {
    width: '10px'
}

.MuiGridListTile-tile {
  width: 100%;
  height: 100%;
  border: 10;
  border-width: 100px;
  border-color: black;
  color: blue;
}

.your-classname {
    color: blue;
}